<div class="card">
  <img class="card-img-top" src="{{film.posterurl}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{film.title}}</h5>
    <p class="card-text">{{film.storyline}}
    </p>
  </div>
</div>